@charset "UTF-8";

.appName {
	font-size: 3em;
	vertical-align: middle;
	padding-top: 18px;
	margin-left: 40px;
}

#Authors {
	vertical-align: bottom;
	white-space: pre-line;
}

.errorMessage {
	margin-left: calc(0.25em / 4);
    font-size: .8125rem;
    line-height: 1.25;
    color: rgb(245, 36, 25);
    will-change: max-height;
    transition: 0.4s max-height;
    max-height: 5em;
}

.metricEvaluation {
	font-weight: bold;
	padding-right: 18px;
}

.metricEvaluationGood {
	color:green;
}

.metricEvaluationWarning {
	color:orange;
}

.metricEvaluationBad{
	color:red;
}

.MetricConfigTip {
	font-size: small;
}